.form {
    display: flex;
    align-items: center;
    max-width: 1020px;
    border: 1px solid transparent;
    &__loop {
        background-color: #ffffff;
        box-shadow: 0px 4px 20px rgba(175, 173, 181, 0.2);
        height: 84px;
        clip-path: inset(-4px -1px -4px -4px);
        img {
            width: 32px;
            height: 32px;
        }
    }
    &__input {
        clip-path: inset(-4px 0px -4px 0px);
        padding: 0; 
        width: 57.3vw;
    }
    &__wrapper :focus {
        border-top: 1px solid #518581;
        border-bottom: 1px solid #518581;
        border-left: 1px solid #518581;
    }
    &__input:focus {
        border: none;
        outline: none;
    }
    &__search {
        background-color: #ffffff;
        height: 84px;
        box-shadow: 0px 4px 20px rgba(175, 173, 181, 0.2);
        display: flex;
        flex-shrink: 0;
        align-items: center;
        padding-right: 26px;
        clip-path: inset(-4px -4px -4px -1px);
    }

}

.form:focus-within {
    border: 1px solid #518581;
}

